<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus"/>
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus"/>
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus"/>
      </bindingExtensions>
    </extensions>
    <bindings>
      <customBinding>
        <binding name="AuditService">
          <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'http://tempuri.org/':    -->
          <!--    <wsdl:binding name='AuditService'>    -->
          <!--        <sb:netMessaging xmlns:sb="http://sample.schemas.microsoft.com/policy/netMessaging">..</sb:netMessaging>    -->
          <binaryMessageEncoding />
        </binding>
      </customBinding>
      <netMessagingBinding>
        <binding name="messagingBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" prefetchCount="-1"
          sessionIdleTimeout="00:01:00">
          <transportSettings batchFlushInterval="00:00:05" />
        </binding>
      </netMessagingBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="securityBehavior">
          <transportClientEndpointBehavior>
            <tokenProvider>
              <windowsAuthentication>
                <stsUris>
                  <stsUri value="https://Penny:9355/WorkflowDefaultNamespace " />
                </stsUris>
              </windowsAuthentication>
            </tokenProvider>
          </transportClientEndpointBehavior>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <client>
      <endpoint address="sb://penny/WorkflowDefaultNamespace/ServiceBusQueueSample"
        behaviorConfiguration="securityBehavior" binding="netMessagingBinding"
        bindingConfiguration="messagingBinding" contract="AuditProxy.IAuditService"
        name="AuditService" />
      <endpoint address="sb://penny/WorkflowDefaultNamespace/ServiceBusQueueSample"
        binding="customBinding" bindingConfiguration="AuditService"
        contract="AuditProxy.IAuditService" name="AuditService1" />
    </client>   
  </system.serviceModel>
</configuration>